.bottom-container {
  display: flex;
  flex: 1;
  height: 250px;
  box-sizing: border-box;
  border: 1px solid white;
  background-color: rgb(74, 246, 38, 0.35);
  width: 900px;
  border-radius: 10px;
  justify-content: center;
}
.bottom-box {
  flex: 1;
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.left-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section {
  width: 45%;
  height: 20%;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  margin: 2px;
  font-size: 12px;
  text-align: center;
  padding: 12px 0;
}
