.bottom-container {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  border: 8px solid var(--figma-green);
  background-color: var(--figma-dark-green);
  border-radius: 10px;
  justify-content: center;
}

.bottom-box {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 15px;
}