.bottom-container {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  border: 8px solid rgb(55, 82, 55);
  background-color: var(--figma-dark-green);
  border-radius: 10px;
  justify-content: center;
}

.bottom-box {
  flex: 1;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}