@import './base.css';

.master {
  border: 3px solid green;
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.main {
  display: flex;
  width: 100%;
  flex: 1;
}

.buttons {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.left-side {
  border: 1px solid var(--figma-red);
  width: 50%;
  margin: 10px;
}

.right-side {
  border: 1px solid var(--figma-yellow);
  width: 50%;
  margin: 10px;
}

.rocket {
  border: 3px solid var(--figma-green);
  aspect-ratio: 1;
}

.current-button {
  font-family: inherit;
  color: var(--figma-white);
  cursor: pointer;
  background-color: black;
  border: 3px solid var(--figma-green);
  text-align: center;
  border-radius: 20px;
  padding: 10px 20px;
  transition: background-color 0.3s, stroke 0.3s; /* Smooth transition */
}

.current-button:hover {
  background-color: var(--figma-green);
}

.current-button:active {
  background-color: var(--figma-white);
  transform: scale(0.9);
}

.start-button {
  font-family: inherit;
  cursor: pointer;
  background-color: black;
  border: 3px solid var(--figma-green);
  text-align: center;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  transition: background-color 0.3s, stroke 0.3s; /* Smooth transition */
}

.start-button:hover {
  background-color: var(--figma-green);
}

.stop-button {
  font-family: inherit;
  cursor: pointer;
  background-color: black;
  border: 3px solid var(--figma-red);
  text-align: center;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  transition: background-color 0.3s, stroke 0.1s; /* Smooth transition */
}

.stop-button:hover {
  background-color: var(--figma-red);
}

.control-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  width: 215px; /* Hard-coded for now */
}

.back-button {
  background-color: black;
  cursor: pointer;
  border: 3px solid var(--figma-green); /* Optional: Add border color */
  border-radius: 50%; /* Make the button circular */
  width: 40px; /* Adjust as needed */
  height: 40px; /* Adjust as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, stroke 0.3s; /* Smooth transition */
}

.back-button:hover {
  background-color: var(--figma-green);
}

.back-button svg {
  width: 24px;
  height: 24px;
  stroke: var(--figma-green);
  transition: stroke 0.3s; /* Smooth transition */
}

.back-button:hover svg {
  stroke: white;
}
